@import url('https://fonts.googleapis.com/css?family=Sofia');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sofia',sans-seif;

}
body{
    background: url("./assets/deer.jpeg");
}

.logo{
    font-size: 4em;
    color:#fff;
    position:relative;
    user-select: none;
    

}
form{
    box-shadow: 2px 6px 100px transparent;
}
